html, body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

/**
 * Adding this class prevents flash of unstyled content for a number of foundation components.
 * https://get.foundation/sites/docs/media-queries.html
 **/

/* hide sub-menu & offcanvas when loading */
.no-js .nested, .no-js .off-canvas {
    display: none;
}

/* make menu close to topbar bottom */
.top-bar{
    align-items: flex-end;
}

/* make actions menu close to right */
.top-bar-right ul {
    justify-content: flex-end;
}

/* remove dropdown border */
.is-dropdown-submenu {
    border: none;
    padding-top: 10px;
}

.site-title {
    color: white;
}

.site-subtitle {
    color: #eee;
}

.top-bar-title {
    padding-left: 20px;
}

.search-wrapper {
    padding: 10px;
}

img.top-bar-logo {
    height: 80px;
}

.top-bar-logo {
    display: inline-block;
}
.top-bar, .title-bar, .top-bar ul, .off-canvas, .submenu {
    background-color: #405588;
}

.off-canvas a, .title-bar a, .top-bar a {
    color: #95bde5;
    font-weight: bold;
}

.top-bar a:active {
    color: white;
}

.top-bar a:hover {
    color: white;
}

.close-button, .close-button:hover, .close-button:focus {
    color: #ffae00;
}

button:focus {
    outline: none;
}

.submenu-toggle::after {
    border-top-color: #ffc107;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a::after {
    border-color: white transparent transparent;
}