html, body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

/**
 * Adding this class prevents flash of unstyled content for a number of foundation components.
 * https://get.foundation/sites/docs/media-queries.html
 **/

.no-js .top-bar, .no-js .nested {
    display: none;
}

.no-js .off-canvas {
    display: none;
}



img.top-bar-logo {
    height: 80px;
}

.top-bar-logo {
    display: inline-block;
}
.top-bar, .title-bar, .top-bar ul, .off-canvas, .submenu {
    background-color: #405588;
}

.off-canvas a, .title-bar a, .top-bar a {
    color: white;
}

.close-button, .close-button:hover, .close-button:focus {
    color: #ffae00;
}

button:focus {
    outline: none;
}

.submenu-toggle::after {
    border-top-color: #ffc107;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a::after {
    border-color: white transparent transparent;
}