html, body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

/**
 * Adding this class prevents flash of unstyled content for a number of foundation components.
 **/
.no-js .top-bar, .no-js .nested {
    display: none;
}

/* https://get.foundation/sites/docs/media-queries.html */
@media screen and (max-width: 39.9375em) {
    .no-js .off-canvas {
        display: none;
    }
}

img.top-bar-logo {
    height: 80px;
}

.top-bar-logo {
    display: inline-block;
}
.top-bar, .title-bar, .off-canvas, .submenu {
    background-color: #405588;
}

.off-canvas a {
    color: white;
}
